/* Common classes */

.text-platzi{
    color: #97c93e !important; 
}

.btn-platzi{
    background: #97c93e !important; 
    color: white !important; 
}

.btn-platzi:hover{
    background: #82ad36 !important; 
}

/* /Common classes */

/* Header */

#header img{
    width: 80px; 
}

/* /Header */

/* Main */

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover; 
    filter: grayscale(70%);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background: rgba(0,0,0,.5); 
    color: white; 
}

/* /Main */

/* Place Time */

#place-time{
    color: white; 
}

/* /Place Time */

/* Footer */

#footer{
    background: linear-gradient(90deg, #1c3643, #273b47, #1e5372); 
}

#footer a{
    color: white; 
    text-decoration: none; 
}

/* /Footer */